body {
  /* font-size: 16px; */
  overflow-x: hidden;
}

h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

h2 {
  font-size: 42px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
}

div div p.description {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

#intro .vl {
  /* display: inline-block; */
  width: 1px;
  height: 32px;
  margin-left: 20px;
  margin-right: 20px;
  background: #E9E9E9;
  border-radius: 22px;
}

#intro 
  *, ::after, ::before {
    box-sizing: content-box;
}

#intro {
  min-height: 750px;
}

.btn-primary {
  border-color: #54A1FA;
}

@media screen and (max-width: 960px) {
  #intro-text {
      width: 100%;
      max-width: 640px;
      padding: 90px 20px 85px;
      margin: 0;
  }
}

@media screen and (max-width:960px) {
  .carousel .carousel-inner img {
    width: 100%;
    height: auto;
  }
}


#intro #intro-text > p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-bottom: 40px;
}

#intro p.clients {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #B0B0B0;
}


#intro button {
  height: 60px;
  width: 200px;
  background: #54A1FA;
  border-radius: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  
}

#intro-text > div {
  padding-top: 150px;
}


html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.carousel-inner>.item>img {
    height:100%;
    width: 100%;
}

.carousel {
  position: relative;
  width: 50%;
  left: -40px;
  overflow: hidden;
  transform: skew(-30deg, 0);
  -webkit-transform: skew(-30deg, 0);
  transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
}

@media screen and (max-width: 960px) {
  .carousel {
    position: static;
    height: 640px;
    width: 100%;
    transform: skew(0deg, 0);
  }
}

.carousel-inner {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  padding-right: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: skew(30deg, 0);
  -webkit-transform: skew(30deg, 0);
  transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
}

@media screen and (max-width: 960px) {
  .carousel-inner {
      padding: 0;
      transform: skew(0deg, 0);
  
  }
}

.carousel img {
  height: 100%;
}

.services {
  /* font-size: 16px; */
  background-color: #F2F2F2;
}

.services .description {
  margin-bottom: 90px;

}

.services .cards > div {
  /* height: 505px; */
  padding: 0px 20px 0px 20px;
}

.services .cards > div {
  margin-bottom: 40px;
}

.services .row.cards > div > div {
  padding: 30px 30px 40px;
}

.services h3 {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
}

.services .row.cards p {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
  margin-bottom: 22px;
}

.services .row > .col {
  margin-bottom: 20px;
}

.divider {
  width: 500px;
  margin-top: 60px;
}

.services img {
  margin-bottom: 85px;
}

.services a span{
  color: #ff8562;
  font-size: 16px;
  font-family: 'Roboto',Arial,sans-serif;
  color: #000;
  line-height: 1.55;
  font-weight: 700;
}
.services a span::after{
  content: " →";
  color: #ff8562;
  font-family: Arial, Helvetica, sans-serif;
}

section h2 {
  margin-top: 42px;
}

body section.approaches {
  padding-top: 80px;
  padding-bottom: 60px;
}

section.approaches div .row p {
  font-size: 20px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

section.approaches div .row:not(:first-of-type) div > div {
  margin-bottom: 70px;
}

.approaches button {
  width: 200px;
  height: 60px;
  background: #54A1FA;
  border-radius: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

section.approaches div p {
  font-size: 16px;
}

.approaches .row:first-of-type p {
  font-size: 24px;
}

.goodat {
  background-color: #F2F2F2;
}

.goodat .row:not(:first-child) p {
  font-size: 20px;
  line-height: 1.35;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 55px;
}

.goodat h2 {
  margin-bottom: 0px;
}

.partners p {
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.positions {
  background-color: #F2F2F2;
}

.positions p{
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

body .positions {
  font-size: 20px;
}

.services > div > .row:not(:first-child) > div > div {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  height: 100%;
}

section > div {
  max-width: 1200px;
}

section:not(:first-of-type) > div > .row:first-of-type {
  margin-bottom: 90px;
}

section:not(:first-of-type) {
  padding-top: 135px;
  padding-bottom: 160px;
}

section:not(.intro) .row p {
  font-size: 24px;
  line-height: 1.5;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.positions .card-header button {
  padding-right: 30px;

  font-size: 24px;
  line-height: 1.35;

  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000;
}

.positions .angle-down {
  float: right;
}

.positions i.fas.fa-times-circle {
  padding: 10px;
  transform: rotate(45deg);
}

/* .positions div.css-square:hover {
  background-color: black;
  opacity: 0.2;
  width: 140px;
  height: 140px;
  background: red; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
  border-radius: 70px;
} */

.accordion-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.accordion-content > div > span {
  display: block;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: 500;
}

.accordion-content > div > ul {
  padding: 0 0 0 40px;
}

.accordion-content > div > ul > li {
  list-style: circle;
  color: #0083f1;
}

.accordion-content > div > ul > li > span {
  color: #212529;
}

.positions .accordion-content {
  width: 100%;
  padding: 10px 30px 30px 10px;
}

.positions .fa-times-circle:before {
  content: url(cross.svg);
  transition: transform .5s ease-in-out;  
  
  transform:rotate(45deg);
}

/* .positions .collapsed .fa-times-circle:hover  {
  width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
} */

.css-square {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -ms-transition: -ms-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;  
}

.collapsed .css-square {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.positions .card {
  background-color: #fff;
}

.positions .card .btn-link:hover, .btn-link, .btn-link:focus{
  text-decoration:none;
}


.positions .card-header {
  border-bottom: none;
  background-color: #fff;
}

.positions .card button {
  width: 100%;
  padding: 0;
}

.positions .card button i {
}

.positions .card-body {
  font-size: 16px;
  line-height: 1.55;
  padding: 0 30px 30px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.positions .card-header {
  padding: 25px 30px;
}
