body {
  /* font-size: 16px; */
  overflow-x: hidden;
}

h1 {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

h2 {
  font-size: 42px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
}

div div p.description {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.intro p {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.intro p.clients {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #B0B0B0;
}

.intro .row .row:first-of-type div:not(:last-of-type) {
  margin-bottom: 40px;
}

.intro button {
  height: 60px;
  width: 200px;
  background: #54A1FA;
  border-radius: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.intro .row .row:first-of-type {
  margin-bottom: 150px;
}

.intro .row .row:last-of-type {
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .carousel-inner {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
    .carousel {
      left: 100px;
    }
  }
  
  @media (max-width: 1280px) {
    section:first-of-type > div > div .row:first-of-type > div:first-of-type {
      padding-top: 100px;
    }
  }
  
  @media (min-width: 1280px) {
    section:first-of-type > div > div .row:first-of-type > div:first-of-type {
      padding-top: 200px;
    }
  }

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.carousel-inner>.item>img {
    height:100%;
}

.carousel-item img {
  /* min-height: 800px; */
  min-height: 600px;
  height:  100%;
}

.services {
  /* font-size: 16px; */
  background-color: #F2F2F2;
}

.services .cards > div {
  /* height: 505px; */
  padding: 0px 20px 0px 20px;
}

.services .cards {
  margin-bottom: 40px;
}

.services .row.cards > div > div {
  padding: 30px 30px 40px;
}

.services h3 {
  font-size: 22px;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
}

.services .row.cards p {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
  margin-bottom: 22px;
}

.divider {
  width: 500px;
  margin-top: 60px;
}

.services img {
  margin-bottom: 85px;
}

.services a span{
  color: #ff8562;
  font-size: 16px;
  font-family: 'Roboto',Arial,sans-serif;
  color: #000;
  line-height: 1.55;
  font-weight: 700;
}
.services a span::after{
  content: " →";
  color: #ff8562;
  font-family: Arial, Helvetica, sans-serif;
}

section h2 {
  margin-top: 42px;
}

body section.approaches {
  padding-top: 80px;
  padding-bottom: 60px;
}

section.approaches div .row p {
  font-size: 20px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}

section.approaches div .row:not(:first-of-type) div > div {
  margin-bottom: 70px;
}

.approaches button {
  width: 200px;
  height: 60px;
  background: #54A1FA;
  border-radius: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

section.approaches div p {
  font-size: 16px;
}

.approaches .row:first-of-type p {
  font-size: 24px;
}

.goodat {
  background-color: #F2F2F2;
}

.goodat .row:not(:first-child) p {
  font-size: 20px;
  line-height: 1.35;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 55px;
}

.goodat h2 {
  margin-bottom: 0px;
}

.partners p{
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.positions {
  background-color: #F2F2F2;
}

.positions p{
  text-align: center;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

body .positions {
  font-size: 20px;
}

.services > div > .row:not(:first-child) > div > div {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  height: 100%;
}

section:not(:first-of-type) > div {
  max-width: 1200px;
}

section:not(:first-of-type) > div > .row:first-of-type {
  margin-bottom: 90px;
}

section:not(:first-of-type) {
  padding-top: 135px;
  padding-bottom: 160px;
}

section:not(.intro) .row p {
  font-size: 24px;
  line-height: 1.5;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.positions .card-header button {
  padding-right: 30px;

  font-size: 24px;
  line-height: 1.35;

  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000;
}

.positions .collapse {
  font-size: 16px;
  line-height: 1.55;
  padding: 0 30px 30px;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}